
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

/* ================= LOGIN ================= */

.login-box {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    /* Centralização perfeita */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login-box input,
.login-box button {
    width: 100%;
    height: 45px;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
}

.login-box input {
    border: 1px solid #ccc;
}

.login-box button {
    border: none;
    background: #000000;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background: #000000;
}

/* ================= DASHBOARD ================= */

nav {
    background: #1e293b;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

nav a {
    color: #7c7c7c;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 95%;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 200px;
}

.container h3 {
    margin-top: 0;
}

.container button {
    width: 100%;
    max-width: 300px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 21px;
    border: none;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container button:hover {
    background: #ffffff;
}


#camera-overlay {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 9999;
}

#camera {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ESSA PARTE É A MAIS IMPORTANTE */
#camera video,
#camera canvas {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover; /* Faz preencher a tela toda */
}
#camera-overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 150px;
    transform: translate(-50%, -50%);
    border: 3px solid #000000;
    border-radius: 12px;
}
#fecharCamera {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background: rgb(82, 78, 78);
    color: white;
    font-size: 16px;
}
/* Tabela responsiva */

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #e2e8f0;
}
/* ================= DASHBOARD ADMINISTRADOR ================= */
/* Layout principal */
.layout {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}


/* Sidebar lateral */
.sidebar {
    width: 250px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Título */
.sidebar h2 {
    margin-bottom: 30px;
}

/* Botões empilhados */
.sidebar button {
    margin-bottom: 5px;
    padding: 12px;
    border: none;
    background-color: #374151;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;
}

.sidebar button:hover {
    background-color: #4b5563;
}

/* Área central */
.conteudo {
    flex: 1;
    padding: 40px;
    background-color: #f3f4f6;
    overflow-y: auto;
}

/* Estilo das saídas */
#listaSaidas p {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* ================= RESPONSIVIDADE EXTRA ================= */

@media (max-width: 600px) {

    nav {
        font-size: 12px;
        padding: 12px;
    }

    body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    .container {
        padding: 6px;
        height: 56px;
        margin: auto;
        width: 85%;
        max-width: 900px;
        margin-top: 250px;
        text-align: center;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    @media (max-width: 600px) {

    #fecharCamera {
        width: 80%;
        height: 50px;
        font-size: 18px;
    }

}
    


}